/*-- scss:defaults --*/

$background-body: #fff1db;
$link-body: #3AA6B9;
$text-body: #102c57;
$background-header: #8e3e63;
$text-header: #cae6b2;

$warning-box: #FFBE98;
$important-box: #F05A7E;
$note-box: #125B9A;
$tip-box: #0B8494;


$body-bg: $background-body;
$body-color: $text-body;
$link-color: $link-body;

$navbar-bg: $background-header;
$navbar-fg: $text-header;

$callout-color-warning: $warning-box;
$callout-color-important-box: $important-box;
$callout-color-note: $note-box;
$callout-color-tip: $tip-box;